body {
    background: black;
    margin: 0;
    padding: 0;
}
body, html {
    overflow: hidden;
}
h1 {
    text-align: center;
    color: white;
    width: 450px;
}



.block {
    height: 100px;
    margin: auto;
    perspective-origin: 50% 50px;
    perspective: 800px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100px;
    z-index: 1;
}
.block-inner {
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    width: 100px;
}
.block-inner div {
    border: 1px solid black;
    background: pink;
    position: absolute;
    width: 100px;
    height: 100px;
}
.back {
    transform: translateZ(-50px) rotateY(180deg);
}
.right {
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right;
}
.left {
    transform: rotateY(270deg) translateX(-50px);
    transform-origin: center left;
}
.top {
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: top center;
}
.bottom {
    transform: rotateX(90deg) translateY(50px);
    transform-origin: bottom center;
}
.front {
    transform: translateZ(50px);
}

.roll-left .front, .roll-right .front, .roll-up .front, .roll-down .front {
    background: red;
}

.roll-left .block-inner {
    animation: roll-left-animation .1s 1 linear;
}
@keyframes roll-left-animation {
    from { transform: rotateY(0); }
    to { transform: rotateY(-90deg); }
}

.roll-right .block-inner {
    animation: roll-right-animation .1s 1 linear;
}
@keyframes roll-right-animation {
    from { transform: rotateY(0); }
    to { transform: rotateY(90deg); }
}

.roll-up .block-inner {
    animation: roll-up-animation .1s 1 linear;
}
@keyframes roll-up-animation {
    from { transform: rotateX(0); }
    to { transform: rotateX(90deg); }
}

.roll-down .block-inner {
    transform-origin: 0 50px;
    animation: roll-down-animation .1s 1 linear;
}
@keyframes roll-down-animation {
    from { transform: rotateX(0); }
    to { transform: rotateX(-90deg); }
}



.area {
    position: absolute;
}
.current-area {
    transition: all .1s ease-in-out;
}
.level {
    display: table;
}
.row {
    display: table-row;
}
.cell, .nothing {
    display: table-cell;
    height: 120px;
    width: 120px;
}
.cell {
    background: white;
}
.nothing {
    background: none;
}
.load {
    background: green;
}
