* {
    transform-style: preserve-3d;
}
body {
    background: black;
    margin: 0;
    padding: 0;
}
body, html {
    overflow: hidden;
}
h1 {
    text-align: center;
    color: white;
    width: 180px;
}



.block {
    height: 50px;
    position: absolute;
    transform: translate3d(4px,4px,0);
    width: 50px;
}
.block-inner {
    height: 50px;
    position: relative;
    width: 50px;
}
.block-inner div {
    background: pink;
    position: absolute;
    width: 50px;
    height: 50px;
}
.back {
    transform: translateZ(0) rotateY(180deg);
}
.right {
    transform: rotateY(-270deg);
    transform-origin: top right;
}
.left {
    transform: rotateY(270deg);
    transform-origin: center left;
}
.top {
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: top center;
}
.bottom {
    transform: rotateX(90deg) translateY(50px);
    transform-origin: bottom center;
}
.front {
    transform: translateZ(50px);
}

.roll-left .front, .roll-right .front, .roll-up .front, .roll-down .front, .jump .front {
    background: red;
}

.roll-left .block-inner {
    animation: roll-left-animation .2s 1 linear;
    transform-origin: -5px center 0;
}
@keyframes roll-left-animation {
    from { transform: rotateY(0); }
    to   { transform: rotateY(-90deg); }
}

.roll-right .block-inner {
    animation: roll-right-animation .2s 1 linear;
    transform-origin: 55px center 0;
}
@keyframes roll-right-animation {
    from { transform: rotateY(0); }
    to   { transform: rotateY(90deg); }
}

.roll-up .block-inner {
    animation: roll-up-animation .2s 1 linear;
    transform-origin: center -5px 0;
}
@keyframes roll-up-animation {
    from { transform: rotateX(0); }
    to   { transform: rotateX(90deg); }
}

.roll-down .block-inner {
    animation: roll-down-animation .2s 1 linear;
    transform-origin: center 55px 0;
}
@keyframes roll-down-animation {
    from { transform: rotateX(0); }
    to   { transform: rotateX(-90deg); }
}

.jump .block-inner {
    animation: jump-animation .2s 1 linear;
}
@keyframes jump-animation {
    0%   { transform: translateZ(25px); }
    25%  { transform: translateZ(50px); }
    100% { transform: translateZ(25px); }
}



.room {
    perspective: 800px;
    margin: 25px;
    position: absolute;
}
.current-room {
    transition: all .2s ease-in-out;
}
.level {
    display: table;
}
.row {
    display: table-row;
    height: 60px;
}
.tile, .nothing {
    display: table-cell;
    height: 60px;
    max-width: 60px;
    min-width: 60px;
    width: 60px;
}
.tile {
    background: white;
}
.add {
    background: green;
}
.equal {
    color: blue;
}
.subtract {
    background: red;
}
.nothing {
    background: none;
}
.variable {
    background: yellow;
}
.fade-left {
    background: linear-gradient(to left, white, black);
}
.fade-right {
    background: linear-gradient(to right, white, black);
}
.fade-up {
    background: linear-gradient(to top, white, black);
}
.fade-down {
    background: linear-gradient(to bottom, white, black);
}



.enter {
    animation: enter-animation .2s 1 ease-in-out;
}
@keyframes enter-animation {
    from { opacity: 0; }
    to { opacity: 1; }
}
.leave {
    animation: leave-animation .2s 1 ease-in-out;
}
@keyframes leave-animation {
    from { opacity: 1; }
    to { opacity: 0; }
}
.enter-long {
    animation: enter-long-animation 1s 1 ease-in-out;
}
@keyframes enter-long-animation {
    from { opacity: 0; }
    to { opacity: 1; }
}
