body {
    background: black;
    margin: 0;
    padding: 0;
}
body, html {
    overflow: hidden;
}
h1 {
    text-align: center;
    color: white;
    width: 225px;
}
.block {
    background: pink;
    height: 65px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 65px;
    z-index: 1;
}
.area {
    position: absolute;
}
.level {
    display: table;
}
.row {
    display: table-row;
}
.cell, .nothing {
    display: table-cell;
    height: 75px;
    width: 75px;
}
.cell {
    background: white;
}
.nothing {
    background: none;
}
.load {
    background: green;
}
